<html>
<head>
<title>{$mybb->settings['bbname']} - {$foruminfo['name']} </title>
{$headerinclude}
{$rssdiscovery}
<script type="text/javascript">
<!--
	lang.no_new_posts = "{$lang->no_new_posts}";
	lang.click_mark_read = "{$lang->click_mark_read}";
	lang.inline_edit_description = "{$lang->inline_edit_description}";
	lang.post_fetch_error = "{$lang->post_fetch_error}";
// -->
</script>
<!-- jeditable (jquery) -->
<script src="{$mybb->asset_url}/jscripts/jeditable/jeditable.min.js"></script>
<script type="text/javascript" src="{$mybb->asset_url}/jscripts/inline_edit.js?ver=1804"></script>
</head>
<body  onload=pics()>
{$header}
{$moderatedby}
{$usersbrowsing}
{$rules}
