<tr>
<td align="center" class="{$bgcolor} forumdisplay_announcement" width="2%"><span class="thread_status {$folder}">&nbsp;</span></td>
<td class="{$bgcolor} forumdisplay_announcement">
	<a href="{$announcement['announcementlink']}"{$new_class}>{$announcement['subject']}</a>
	<div class="author smalltext">{$announcement['profilelink']}</div>
</td>
<td align="center" class="{$bgcolor} forumdisplay_announcement">-</td>
<td align="center" class="{$bgcolor} forumdisplay_announcement">-</td>
<td class="{$bgcolor} forumdisplay_announcement" style="white-space: nowrap; text-align: right"><span class="smalltext">{$postdate}</span></td>
{$modann}
</tr>
