<tbody>
<tr>
	<td class="tcat tcat_menu tcat_collapse{$collapsedimg['usercpprofile']}">
		<div class="expcolimage"><img src="{$theme['imgdir']}/collapse{$collapsedimg['usercpprofile']}.png" id="usercpprofile_img" class="expander" alt="{$expaltext}" title="{$expaltext}" /></div>
		<div><span class="smalltext"><strong>{$lang->ucp_nav_profile}</strong></span></div>
	</td>
</tr>
</tbody>
<tbody style="{$collapsed['usercpprofile_e']}" id="usercpprofile_e">
	<tr><td class="trow1 smalltext">
		<div><a href="usercp.php?action=profile" class="usercp_nav_item usercp_nav_profile">{$lang->ucp_nav_edit_profile}</a></div>
		{$changenameop}
		<div><a href="usercp.php?action=password" class="usercp_nav_item usercp_nav_password">{$lang->ucp_nav_change_pass}</a></div>
		<div><a href="usercp.php?action=email" class="usercp_nav_item usercp_nav_email">{$lang->ucp_nav_change_email}</a></div>
		<div><a href="usercp.php?action=avatar" class="usercp_nav_item usercp_nav_avatar">{$lang->ucp_nav_change_avatar}</a></div>
		{$changesigop}<!-- profilepicture -->
	</td></tr>
	<tr><td class="trow1 smalltext"><a href="usercp.php?action=options" class="usercp_nav_item usercp_nav_options">{$lang->ucp_nav_edit_options}</a></td></tr>
</tbody>
