<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->edit_options}</title>
{$headerinclude}
</head>
<body>
{$header}
<form action="usercp.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<table width="100%" border="0" align="center">
<tr>
{$usercpnav}
<td valign="top">
{$errors}
<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
<tr>
<td class="thead" colspan="2"><strong>{$lang->edit_options}</strong></td>
</tr>
<tr>
<td width="50%" class="trow1" valign="top">
<fieldset class="trow2">
<legend><strong>{$lang->login_cookies_privacy}</strong></legend>
<table cellspacing="0" cellpadding="2">
<tr>
<td valign="top" width="1"><input type="checkbox" class="checkbox" name="invisible" id="invisible" value="1" {$invisiblecheck} /></td>
<td><span class="smalltext"><label for="invisible">{$lang->invisible_mode}</label></span></td>
</tr>
</table>
</fieldset>
<br />
<fieldset class="trow2">
<legend><strong>{$lang->messaging_notification}</strong></legend>
<table cellspacing="0" cellpadding="2">
<tr>
<td valign="top" width="1"><input type="checkbox" class="checkbox" name="allownotices" id="allownotices" value="1" {$allownoticescheck} /></td>
<td><span class="smalltext"><label for="allownotices">{$lang->allow_notices}</label></span></td>
</tr>
<tr>
<td valign="top" width="1"><input type="checkbox" class="checkbox" name="hideemail" id="hideemail" value="1" {$hideemailcheck} /></td>
<td><span class="smalltext"><label for="hideemail">{$lang->allow_emails}</label></span></td>
</tr>
<tr>
<td valign="top" width="1"><input type="checkbox" class="checkbox" name="receivepms" id="receivepms" value="1" {$receivepmscheck} /></td>
<td><span class="smalltext"><label for="receivepms">{$lang->receive_pms}</label></span></td>
</tr>
{$pms_from_buddys}
<tr>
<td valign="top" width="1"><input type="checkbox" class="checkbox" name="pmnotice" id="pmnotice" value="1"{$pmnoticecheck} /></td>
<td><span class="smalltext"><label for="pmnotice">{$lang->pm_notice}</label></span></td>
</tr>
<tr>
<td valign="top" width="1"><input type="checkbox" class="checkbox" name="pmnotify" id="pmnotify" value="1" {$pmnotifycheck} /></td>
<td><span class="smalltext"><label for="pmnotify">{$lang->pm_notify}</label></span></td>
</tr>
<tr>
<td colspan="2"><span class="smalltext"><label for="subscriptionmethod">{$lang->subscription_method}</label></span></td>
</tr>
<tr>
<td colspan="2">
	<select name="subscriptionmethod" id="subscriptionmethod">
		<option value="0" {$no_subscribe_selected}>{$lang->no_auto_subscribe}</option>
		<option value="1" {$no_email_subscribe_selected}>{$lang->no_email_subscribe}</option>
		<option value="2" {$instant_email_subscribe_selected}>{$lang->instant_email_subscribe}</option>
	</select>
</td>
</tr>

</table>
</fieldset>
<br />
<fieldset class="trow2">
<legend><strong>{$lang->date_time_options}</strong></legend>
<table cellspacing="0" cellpadding="2">
<tr>
<td><span class="smalltext">{$lang->date_format}</span></td>
</tr>
<tr>
<td>
<select name="dateformat">
{$date_format_options}
</select>
</td>
</tr>
<tr>
<td><span class="smalltext">{$lang->time_format}</span></td>
</tr>
<tr>
<td>
<select name="timeformat">
{$time_format_options}
</select>
</td>
</tr>
<tr>
<td><span class="smalltext">{$lang->time_offset_desc}</span></td>
</tr>
<tr>
<td>{$tzselect}</td>
</tr>
<tr>
<td><span class="smalltext">{$lang->dst_correction}</span></td>
</tr>
<tr>
<td>
	<select name="dstcorrection">
		<option value="2" {$dst_auto_selected}>{$lang->dst_correction_auto}</option>
		<option value="1" {$dst_enabled_selected}>{$lang->dst_correction_enabled}</option>
		<option value="0" {$dst_disabled_selected}>{$lang->dst_correction_disabled}</option>
	</select>
</td>
</tr>
</table>
</fieldset>
</td>
<td width="50%" class="trow1" valign="top">
<fieldset class="trow2">
<legend><strong>{$lang->ignoreforum_ignored_forums}</strong></legend>
<div class="smalltext">{$lang->ignoreforum_ignored_forums_note}</div>
<select name="ignoreforum[]" multiple="multiple" size="10">
{$ignoreforumlist}
</select>
</fieldset>
<br />
<fieldset class="trow2">
<legend><strong>{$lang->forum_display_options}</strong></legend>
<table cellspacing="0" cellpadding="2">
{$tppselect}
<tr>
<td><span class="smalltext">{$lang->thread_view}</span></td>
</tr>
<tr>
<td>
<select name="daysprune">
<option value="">{$lang->use_default}</option>
<option value="1" {$daysprunesel['1']}>{$lang->thread_view_lastday}</option>
<option value="5" {$daysprunesel['5']}>{$lang->thread_view_5days}</option>
<option value="10" {$daysprunesel['10']}>{$lang->thread_view_10days}</option>
<option value="20" {$daysprunesel['20']}>{$lang->thread_view_20days}</option>
<option value="50" {$daysprunesel['50']}>{$lang->thread_view_50days}</option>
<option value="75" {$daysprunesel['75']}>{$lang->thread_view_75days}</option>
<option value="100" {$daysprunesel['100']}>{$lang->thread_view_100days}</option>
<option value="365" {$daysprunesel['365']}>{$lang->thread_view_year}</option>
<option value="9999" {$daysprunesel['9999']}>{$lang->thread_view_all}</option>
</select>
</td>
</tr>
</table>
</fieldset>
<br />
<fieldset class="trow2">
<legend><strong>{$lang->thread_view_options}</strong></legend>
<table cellspacing="0" cellpadding="2">
	<tr>
	<td valign="top" width="1"><input type="checkbox" class="checkbox" name="classicpostbit" id="classicpostbit" value="1" {$classicpostbitcheck} /></td>
	<td><span class="smalltext"><label for="classicpostbit">{$lang->show_classic_postbit}</label></span></td>
	</tr>
<tr>
<td valign="top" width="1"><input type="checkbox" class="checkbox" name="showsigs" id="showsigs" value="1" {$showsigscheck} /></td>
<td><span class="smalltext"><label for="showsigs">{$lang->show_sigs}</label></span></td>
</tr>
<tr>
<td valign="top" width="1"><input type="checkbox" class="checkbox" name="showavatars" id="showavatars" value="1" {$showavatarscheck} /></td>
<td><span class="smalltext"><label for="showavatars">{$lang->show_avatars}</label></span></td>
</tr>
<tr>
<td valign="top" width="1"><input type="checkbox" class="checkbox" name="showquickreply" id="showquickreply" value="1" {$showquickreplycheck} /></td>
<td><span class="smalltext"><label for="showquickreply">{$lang->show_quick_reply}</label></span></td>
</tr>
{$pppselect}
<tr>
<td colspan="2"><span class="smalltext">{$lang->thread_mode}</span></td>
</tr>
<tr>
<td colspan="2"><select name="threadmode"><option value="">{$lang->use_default}</option><option value="linear" {$threadview['linear']}>{$lang->linear}</option><option value="threaded" {$threadview['threaded']}>{$lang->threaded}</option></select></td>
</tr>
</table>
</fieldset>
<br />
<fieldset class="trow2">
<legend><strong>{$lang->other_options}</strong></legend>
<table cellspacing="0" cellpadding="2">
<tr>
<td valign="top" width="1"><input type="checkbox" class="checkbox" name="showredirect" id="showredirect" value="1" {$showredirectcheck} /></td>
<td><span class="smalltext"><label for="showredirect">{$lang->show_redirect}</label></span></td>
</tr>
<tr>
<td valign="top" width="1"><input type="checkbox" class="checkbox" name="showcodebuttons" id="showcodebuttons" value="1" {$showcodebuttonscheck} /></td>
<td><span class="smalltext"><label for="showcodebuttons">{$lang->show_codebuttons}</label></span></td>
</tr>
<tr>
<td colspan="2"><span class="smalltext">{$lang->style}</span></td>
</tr>
<tr>
<td colspan="2">{$stylelist}</td>
</tr>
<tr>
<td colspan="2"><span class="smalltext">{$lang->board_language}</span></td>
</tr>
<tr>
<td colspan="2"><select name="language"><option value="">{$lang->use_default}</option><option value="0">-----------</option>{$langoptions}</select></td>
</tr>
</table>
</fieldset>
</td>
</tr>
</table>
<br />
<div align="center">
<input type="hidden" name="action" value="do_options" />
<input type="submit" class="button" name="regsubmit" value="{$lang->update_options}" />
</div>
</td>
</tr>
</table>
</form>
{$footer}
</body>
</html>
