<div id="edit_post_{$post['pid']}_popup" class="popup_menu" style="display: none; ">
<div class="popup_item_container"><a href="javascript:;" class="popup_item quick_edit_button" id="quick_edit_post_{$post['pid']}">{$lang->postbit_quick_edit}</a></div>
<div class="popup_item_container"><a href="editpost.php?pid={$post['pid']}" class="popup_item">{$lang->postbit_full_edit}</a></div>
</div>
<a href="editpost.php?pid={$post['pid']}" id="edit_post_{$post['pid']}" title="{$lang->postbit_edit}" class="postbit_edit"><span>{$lang->postbit_button_edit}</span></a>

<script type="text/javascript">
// <!--
	if(use_xmlhttprequest == "1")
	{
		$("#edit_post_{$post['pid']}").popupMenu();
	}
// -->
</script>
