<!-- Continuation of div(class="upper") as opened in the header template -->
	<span class="welcome">{$lang->welcome_back} <a href="{$mybb->settings['bburl']}/member.php?action=logout&amp;logoutkey={$mybb->user['logoutkey']}" class="logout">{$lang->welcome_logout}</a></span>
	</div>
</div>
<div class="lower">
	<div class="wrapper">
		<ul class="menu panel_links">
			{$usercplink}
			{$myalerts_headericon}{$modcplink}
			{$admincplink}
			<ul class="menu user_links">
			{$buddylink}
			{$searchlink}
			{$pmslink}
		</ul>
	</div>
	<br class="clear" />
</div>
